.wbdv-lesson-tabs{
  padding: 5px;
  /*background-color: #004d99;*/
  color: white;
}

.wbdv-link {
  /*color: white;*/
  display:block
}

.active.wbdv-active{
  background-color: #007BFF
}

.nav-pills li {
  margin-left: 5px;
  margin-bottom: 5px;
}
