<div class="container-fluid">
  <div class="row wbdv-row">
    <div class="wbdv-top-border wbdv-padding-0 col-4">
      <ul>
        <!--<li class="list-group-item wbdv-module-lesson-div">Modules</li>-->
        <li [ngClass]="{'active': module.id == moduleId}" *ngFor="let module of modules"
            class="list-group-item">
          <a class="wbdv-link"
             routerLink="/course/{{courseId}}/module/{{module.id}}">
            {{module.title}}</a>
        </li>
      </ul>
    </div>
    <div class=" wbdv-top-border wbdv-padding-0 col-8">
      <app-lesson-tabs></app-lesson-tabs>
    </div>
  </div>
</div>
