<div class="container-fluid">
  <div class="row wbdv-margin-padding">
    <h1 class="col-11">Submissions</h1>
    <div class="col-1">
      <button class="btn btn-info"
              routerLink="/home">
        <i class="fa fa-home"></i>
      </button>
      &nbsp;
      <button class="btn btn-danger"
              (click)="logout()">
        <i class="fa fa-power-off"></i>
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>Username</th>
      <th>Submitted on</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <td>
        <input [(ngModel)]="filterUsername"
               placeholder="username"
               class="form-control">
      </td>
     <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr *ngFor="let submission of submissions">
      <td *ngIf="filterUsername !== '' && filterUsername === submission.username">{{submission.username}}</td>
      <td *ngIf="filterUsername !== '' && filterUsername === submission.username">{{submission.updatedAt}}</td>
      <td *ngIf="filterUsername !== '' && filterUsername === submission.username">
        <a routerLink="/quiz/{{submission.quizId}}/submission/{{submission._id}}">
          View Answers
        </a>
      </td>
      <td *ngIf="filterUsername === ''">{{submission.username}}</td>
      <td *ngIf="filterUsername === ''">{{submission.updatedAt}}</td>
      <td *ngIf="filterUsername === ''">
        <a routerLink="/quiz/{{submission.quizId}}/submission/{{submission._id}}">
          View Answers
        </a>
      </td>
    </tr>
  </table>
</div>
