<h2>Quiz Taker</h2>

<h3>
  {{quiz.title}}
  <button class="btn btn-primary float-right"
          (click)="submit(submission)">
    Submit
  </button>
</h3>

<ul class="list-group">
  <li *ngFor="let question of quiz.questions" class="list-group-item">
    <h4>
      {{question.title}}
      <span class="float-right">{{question.points}}</span>
    </h4>
    <p>{{question.description}}</p>
    <div [ngSwitch]="question.type">

      <app-true-false
        [question]="question"
        [submission]="submission"
        *ngSwitchCase="'truefalse'">
      </app-true-false>

      <app-fill-blanks-question
        [question]="question"
        [submission]="submission"
        *ngSwitchCase="'fillin'">
      </app-fill-blanks-question>

      <app-multiple-choice-question
        [question]="question"
        [submission]="submission"
        *ngSwitchCase="'multiplechoice'">
      </app-multiple-choice-question>

      <app-essay-question
        [question]="question"
        [submission]="submission"
        *ngSwitchCase="'essay'">
      </app-essay-question>

    </div>
  </li>
</ul>
