<div class="container-fluid">
  <h1>Profile</h1>
  <div class="row">
    <div class="col-6">
      <h3>Personal Information</h3>
      <div class="form-group row">
        <a routerLink="/home">Courses</a>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <label for="username">
            Username
          </label>
        </div>
        <div class="col-sm-10">
          <input [(ngModel)]="username"
                 disabled 
                 class="form-control"
                 id="username"
                 placeholder="Alice">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <label for="firstName">
            First name
          </label>
        </div>
        <div class="col-sm-10">
          <input [(ngModel)]="firstName"
                 class="form-control"
                 id="firstName"
                 placeholder="Alice">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <label for="lastName">
            Last name
          </label>
        </div>
        <div class="col-sm-10">
          <input [(ngModel)]="lastName"
                 class="form-control"
                 id="lastName"
                 placeholder="Wonderland">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <label for="phone"> Phone </label>
        </div>
        <div class="col-sm-10">
          <input [(ngModel)]="phone"
                 class="form-control"
                 id="phone"
                 placeholder="(555) 123-4324">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <label for="email">
            Email
          </label>
        </div>
        <div class="col-sm-10">
          <input [(ngModel)]="email"
                 class="form-control"
                 id="email"
                 placeholder="alice@wonderland.com">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button (click)="update()"
                  id="updateBtn"
                  class="btn btn-success btn-block">
            Update
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button (click)="logout()"
                  class="btn btn-danger btn-block">
            Logout
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3>Enrollment Details</h3>
      <table class="table-bordered">
        <tr *ngFor="let section of sections">
          <td>{{section.courseTitle}}</td>
          <td>{{section.title}}</td>
          <td>({{section.rem}})</td>
          <td>
            <button (click)="unenroll(section)">
              Unregister
            </button>
          </td>
        </tr>
      </table>
      <a class="btn btn-outline-primary" *ngIf="username === 'admin';" routerLink="/admin">User Admin</a>
    </div>
  </div>
</div>
